.widget {
  border: 1px solid gray;
  display: grid;
  grid-template: 413px 1fr / 444px 1fr;
  grid-template-areas: "tryon info" "goods goods";

  height: 611px;
  width: 751px;
  border-radius: 12px;
  overflow: hidden;

  @include tablet-w {
    grid-template: 413px auto auto / 100%;
    grid-template-areas: "tryon" "info" "goods";
    height: auto;
    width: 444px;
    max-width: 751px;
  }

  @include mobileS-w {
    grid-template: "tryon" 310px "info" auto "goods" auto/ 100%;
    width: 95%;
  }

  &.menu-opened {
    & .info, & .goods {
      display: none;
    }
    & .menu, & .buttons {
      display: flex;
    }

    .tryon__lens {
      background: none !important;
      .cross {
        display: flex;
      }
    }

    grid-template-areas: "tryon cust" "buttons cust";

    @include tablet-w {
      grid-template-areas: "tryon" "cust" "buttons";
    }
  }

  &.allow {
    .tryon-allow-block {
      visibility: visible;
    }
  }

  &.camera {
    .tryon-camera {
      visibility: visible;
    }
  }

  &.loader {
    .tryon-loader {
      visibility: visible;
    }
  }
}

.tryon {
  border-radius: 12px;
  grid-area: tryon;
}

.info {
  grid-area: info;
}

.menu {
  display: none;
  grid-area: cust;
}

.goods {
  grid-area: goods;
}

.buttons {
  display: none;
  grid-area: buttons;
}
