.goods {
  padding-top: 25px;
  padding-bottom: 35px;

  &__title {
    padding-left: 22px;
    position: relative;
    z-index: 2;
  }

  &-block {
    min-height: 147px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    padding: 0 47px;
    margin-top: -15px;
  }

  &__item {
    cursor: pointer;
    max-width: 199px;
  }

  &__lens {
    display: block;
    width: 199px;
    height: 99px;
  }

  &__name {
    text-align: center;
    color: $namesColor;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}