.info {
  padding: 18px 30px 0 30px;

  .title {
    margin-bottom: 15px;
  }

  &__lens {
    max-width: 270px;
    height: 134px;
    background: plum;
    margin-bottom: 13px;
  }

  &__button {
    margin-left: 34px;
    margin-bottom: 42px;
  }

  &__text {
    .text__title {
      margin-left: -3px;
      margin-bottom: 4px;
    }
    .text__descr {
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.5px;
      max-width: 226px;
    }
  }
}